<div class='form-control'>

  <form id='intro-usuario'>
    <label for='username'>Username</label>
    <input
      type='email'
      name='username'
      id='username'
      placeholder='Enter username...'
      required
    />
    <button type='submit' class='btn'>Join Chat</button>
  </form>
</div>